* {
  box-sizing: border-box;
  color: #87B3CC;
  font-family: "Karla", sans-serif;

}

.parameters {
  display: flex;
  flex-direction: column;
}

h1.question {
  text-align: center;
}

.button {
  background-color: green;
  text-align: center;
  padding: .5em .35em;
  margin-top: .5em 0;
  color: white;
}