
* {
  box-sizing: border-box;
  margin: 0;
  
}

body {
  background: #2C343F;
  
}

.container {
  width: 90%;
  margin: 1em auto 0 auto;
  
}

.instructions {
  color: #87B3CC;
  font-size: 1rem;
  margin-bottom: 1em;
}

.searchBtn {
  border: none;
  border-radius: .5em;
  background-color: #556677;
  padding: .5em;
  font-weight: bold;
  width: 100%;
}

.searchBtn:hover {
  background-color: #8eaab2;
  color: #B4D2E1;
}

.movieInput {
  border-radius: .5em;
  border: none;
  width: 100%;
  padding: .5em;
  margin-bottom: .5em;
}

.movieElements {
  margin: 1em 0;
}

